button {
  cursor: pointer;
  padding: 5px 10px;
  margin: 3px;
  border-radius: 5px;
  border: 0;
  outline: none;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: lightblue;
}

.button_selected {
  background-color: lightblue;
}

.App section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.content {
  border: 2px solid green;
  border-radius: 5px;
  width: 45%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.info {
  margin: 0;
  padding: 5px 10px;
  width: 45%;
  border: 2px solid blue;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.info button {
  margin-left: auto;
}

.TodoList {
  width: 100%;
}

.TodoList__list {
  list-style: none;
  padding-left: 5px;
}

.TodoList__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed lightgray;
}

.TodoList__item-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loader {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin: 1em auto;
  border: 0.3em solid #ddd;
  border-left-color: #000;
  /*animation: load8 1.2s infinite linear;*/
}

.hide {
  display: none;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
